<html>
    <body>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="name" id="name" value="{{request.user.first_name}}" readonly>
            <label for="email">email: </label>
            <input type="email" name="email" id="email" value="{{request.user.username}}" readonly>
            <label for="rollNumber">rollNumber: </label>
            <input type="number" name="rollNumber" id="rollNumber" value="{{request.user.last_name}}">
            <input type="number" name="contact_1" id="primary_contact" value="{{contact_1}}" required>
            <input type="number" name="contact_2" id="secondary_contact" value="{{contact_2}}">
            <input type="checkbox" name="dose_1" id="dose_1" value="first Dose">
            <label for="dose_1">dose 1</label>
            <input type="checkbox" name="dose_2" id="dose_2" value="second dose">
            <label for="dose_2">dose 2</label>
            <label for="vaccine_name">vaccine if going for dose 2</label>
            <input type="text" name="vaccine_name">
            <input type="submit" value="register">
        </form>
    </body>
</html>